
<div class ="container-fluid">

    <h1>Login</h1>

    <div class="alert alert-danger" ng-show="model.message">
        {{ model.message }}
    </div>

    <form name="loginForm" novalidate class="simple-form">
        <input type="text"
               ng-class="{'has-error': loginForm.username.$error.required}"
               ng-model="username"
               name="username"
               placeholder="username"
               class="form-control"
               required />

        <input type="password"
               ng-model="password"
               placeholder="password"
               class="form-control"
               required />

        <input type="submit"
               ng-click="model.checkLogin(username, password)"
               value="Login"
               class="btn btn-block btn-primary">
    </form>

    <!--<a ng-click="model.checkLogin(username, password)"-->
       <!--class="btn btn-block btn-primary">Login</a>-->

    <a href="#!/register"
       class="btn btn-block btn-success">Register</a>

    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

</div>