
<div class ="container-fluid">

    <h1>Login</h1>

    <div class="alert alert-danger" ng-show="model.message">
        {{ model.message }}
    </div>
    <input type="text"
           ng-model="username"
           placeholder="username"
           class="form-control"/>

    <input type="password"
           ng-model="password"
           placeholder="password"
           class="form-control">

    <a ng-click="model.checkLogin(username, password)"
       class="btn btn-block btn-primary">Login</a>

    <a href="#!/register"
       class="btn btn-block btn-success">Register</a>

    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>

</div>