<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">

        <a href="#!/user/{{model.userId}}"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>

        <a class="navbar-brand" href="#">Profile</a>

    </div>
</nav>

<div class="container-fluid">

    <label for="username">Username</label>
    <input type="text"
           id="username"
           class="form-control"
           ng-model="model.user.username"/>

    <label for="email">Email</label>
    <input type="text"
           id="email"
           class="form-control"
           ng-model="model.user.email"/>

    <label for="firstName">First Name</label>
    <input type="text"
           id="firstName"
           class="form-control"
           value="Vyshnavi"
           ng-model="model.user.firstName">

    <label for="lastName">Last Name</label>
    <input type="text"
           id="lastName"
           class="form-control"
           value="Chunduru"
           ng-model="model.user.lastName"/>


    <a class="btn btn-block btn-success"
       ng-click="model.updateUser(model.user)">Update</a>

    <a class="btn btn-block btn-danger"
       ng-click="model.unregister()">Unregister</a>

    <a href="#!/user/{{model.userId}}/website"
       class="btn btn-block btn-primary">Websites</a>

    <a ng-click="model.logout()"
       class="btn btn-block btn-danger">Logout</a>
</div>

<nav class="navbar bg-info navbar-fixed-bottom">
    <div class="container-fluid">

        <a href="#!/user/{{model.userId}}"><span class="navbar-text pull-right glyphicon glyphicon-user"></span></a>

    </div>
</nav>