    <nav class="navbar navbar-fixed-top bg-info">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"><span class="navbar-text pull-right glyphicon glyphicon-plus"></span></a>
            <a class="navbar-brand" href="#">Widget List</a>
        </div>
    </nav>



    <div class="sortable" wbdv-sortable>
        <div ng-repeat= "widget in model.widgets"
             class="container-fluid">
            <div class="vc-widget">
                <div class="vc-widget-toolbar pull-right">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div ng-include="model.getWidgetUrlByType(widget.widgetType)"></div>
            </div>
        </div>
    </div>

    <nav class="navbar bg-info navbar-fixed-bottom">
        <div class="container-fluid">
            <span class="navbar-text pull-left glyphicon glyphicon-play"></span>
            <span class="navbar-text pull-left glyphicon glyphicon-eye-open"></span>
            <a href="../user/profile.html">
                <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
            </a>
        </div>
    </nav>