<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose A Widget</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-fixed-top bg-info">
        <div class="container-fluid">
            <a href="widget-list.html"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group vc-no-border">
            <li class="list-group-item">
                <a href="widget-heading.html">Header</a>
            </li>
            <li class="list-group-item">
                <a href="#">Label </a>
            </li>
            <li class="list-group-item">
                <a href="#">HTML</a>
            </li>
            <li class="list-group-item">
                <a href="#">Text Input</a>
            </li>
            <li class="list-group-item">
                <a href="#">Button </a>
            </li>
            <li class="list-group-item">
                <a href="widget-image.html">Image</a>
            </li>
            <li class="list-group-item">
                <a href="widget-youtube.html">YouTube</a>
            </li>
            <li class="list-group-item">
                <a href="#">Data Table </a>
            </li>
            <li class="list-group-item">
                <a href="#">Repeater</a>
            </li>
        </ul>
    </div>

    <nav class="navbar bg-info navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="../user/profile.html"> <span class="navbar-text pull-right glyphicon glyphicon-user"></span> </a>
        </div>
    </nav>

</body>
</html>