<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">
        <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
        <a class="navbar-brand" href="#">Choose Widget</a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group vc-no-border">
        <li class="list-group-item">
            <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/heading">Header</a>
        </li>
        <li class="list-group-item">
            <a href="#">Label </a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/html">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/text">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#">Button </a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/image">Image</a>
        </li>
        <li class="list-group-item">
            <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/youtube">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="#">Data Table </a>
        </li>
        <li class="list-group-item">
            <a href="#">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar bg-info navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile"> <span class="navbar-text pull-right glyphicon glyphicon-user"></span> </a>
    </div>
</nav>
