<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">
        <a href="#!/user/website"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
        <a ng-click="model.updateWebsite()"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>
        <a class="navbar-brand" href="#">Edit Website</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs vc-scrollable-left">
        <div ng-include="'views/website/templates/website-templates/website-list-temp.view.client.html'"></div>
    </div>

    <div class="col-sm-8 col-xs-12">

        <form class="simple-form" novalidate>
            <label for="name">Website Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   ng-model="model.website.name"/>
            <label for="description">Website Description</label>
            <textarea name="description"
                      id="description"
                      cols="30"
                      rows="3"
                      class="form-control"
                      ng-model="model.website.description"></textarea>
            <input type="submit"
                   class="btn btn-block btn-primary"
                   value="Confirm"
                   ng-click="model.updateWebsite()">
        </form>


        <a ng-click="model.deleteWebsite()"
           class="btn btn-block btn-danger">Delete</a>
    </div>
</div>

<nav class="navbar bg-info navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile"> <span class="navbar-text pull-right glyphicon glyphicon-user"></span> </a>
    </div>
</nav>