<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">

            <a href="#!/profile">
                <span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span>
            </a>

            <a href="#!/user/website/new">
                <span class="navbar-text pull-right glyphicon glyphicon-plus"></span>
            </a>

            <a class="navbar-brand" href="#">Websites</a>

    </div>
</nav>

<div class="container-fluid">
    <div ng-include="'views/website/templates/website-templates/website-list-temp.view.client.html'"></div>
</div>

<nav class="navbar bg-info navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile">
            <span class="navbar-text pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
