<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">
        <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
        <a ng-click="model.updateWidget(model.widget)"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>
        <a class="navbar-brand" href="#">Edit Widget</a>
    </div>
</nav>


<div class="container-fluid">
    <label for="url">URL</label>
    <input type="text"
           id="url"
           ng-model="model.widget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input type="text"
           id="width"
           ng-model="model.widget.width"
           class="form-control"/>

    <a ng-click="model.updateWidget(widget)"
       class="btn btn-block btn-primary">Upload Image from URL</a>

    <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search"
       class="btn btn-block btn-info">
        Select an Image from Flickr
    </a>

    <label for="upload">Upload</label>
    <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data" id="upload">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image from Computer</button>
    </form>

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>
</div>