<nav class="navbar navbar-fixed-top bg-info">
<div class="container-fluid">
    <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
    <a ng-click="model.updateWidget(model.widget)"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>
    <a class="navbar-brand" href="#">Edit Widget</a>
</div>
</nav>

<div class="container-fluid">
    <label for="name">Name</label>
    <input type="text"
           id="name"
           ng-model="model.widget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input type="text"
           id="text"
           ng-model="model.widget.text"
           class="form-control"/>

    <label for="url">URL</label>
    <input type="text"
           id="url"
           class="form-control"
           ng-model="model.widget.url"/>

    <label for="width">Width</label>
    <input type="text"
           id="width"
           class="form-control"
           ng-model="model.widget.width"/>

    <a ng-click="model.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>
</div>
