<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Image</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-fixed-top bg-info">
        <div class="container-fluid">
            <a href="widget-list.html"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
            <a href="widget-list.html"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>
            <a class="navbar-brand" href="#">Widget Edit</a>
        </div>
    </nav>

    <div class="container-fluid">
        <label for="name">Name</label>
        <input type="text"
               id="name"
               class="form-control"/>

        <label for="text">Text</label>
        <input type="text"
               id="text"
               class="form-control"/>

        <label for="url">URL</label>
        <input type="text"
               id="url"
               class="form-control"/>

        <label for="width">Width</label>
        <input type="text"
               id="width"
               class="form-control"/>
        <!--TODO figure out what type width should be-->

        <label for="upload">Upload</label>
        <input type="file"
               id="upload"
               class="form-control"/>

        <a href="widget-list.html"
           class="btn btn-block btn-primary">Upload Image</a>
        <a href="widget-list.html"
           class="btn btn-block btn-danger">Delete</a>
    </div>

    <nav class="navbar bg-info navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="../user/profile.html"> <span class="navbar-text pull-right glyphicon glyphicon-user"></span> </a>
        </div>
    </nav>


</body>
</html>