<nav class="navbar navbar-fixed-top bg-info">
    <div class="container-fluid">
        <a href="#!/user/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><span class="navbar-text pull-left glyphicon glyphicon-chevron-left"></span></a>
        <a ng-click="model.createWidget(widget)"><span class="navbar-text pull-right glyphicon glyphicon-ok"></span></a>
        <a class="navbar-brand" href="#">New Widget</a>
    </div>
</nav>


<div class="container-fluid">
    <label for="text">Text</label>
    <input id="text" ng-model="widget.text" class="form-control"/>
    <label for="rows">Rows</label>
    <input id="rows" ng-model="widget.rows" class="form-control" type="number"/>
    <label for="placeholder">Placeholder</label>
    <input id="placeholder" ng-model="widget.placeholder" class="form-control"/>
    <label for="formatted">Formatted</label>
    <input id="formatted" ng-model="widget.formatted" type="checkbox"/>
</div>
